@media (max-width: 768px) {
	.page-width {
		width: 90%;
	}
	/* Hero section start */
	.hero {
		background-color: transparent;
	}
	.hero__content {
		flex-direction: column;
	}
	.hero__img-box {
		display: none;
	}
	.hero__details {
		/* background-color: #000; */
		max-width: 100%;
		padding: 0;
	}
	.hero__mobile-img {
		display: block;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: brightness(0.5);
	}

	.hero__title-box {
		margin-top: 100px;
	}
	.hero__top-title {
		font-size: 85px;
		top: -50px;
	}
	.hero__title {
		font-size: 130px;
	}

	.hero__item-box {
		text-align: center;
		padding-left: 0;
	}
	.hero__btn {
		font-size: 24px;
		/* padding: 12px 21px; */
	}
	.hero__user {
		margin-bottom: 22px;
	}
	/* Hero section end */

	/* Collection section start */
	/* .collections__content {
		grid-template-columns: 1fr;
		gap: 30px;
	} */
	.collections__regular-price,
	.collections__old-price {
		font-size: 18px;
	}
	.collections__btn {
		padding: 7px 18px;
		font-size: 16px;
	}
	.slick-slider {
		margin: 0 -15px;
	}
	.slick-slide {
		padding: 10px;
	}

	/* Collection section end */
	/* Review section start */
	/* Review section end */
}
