@media (max-width: 768px) {
	.page-width {
		width: 90%;
	}
	h2 {
		font-size: 24px;
		margin-bottom: 20px;
	}
	h3 {
		font-size: 14px;
		margin-bottom: 0;
		line-height: 14px;
	}

	/* Menu bar start */
	.logo {
		max-width: 135px;
	}
	.close-btn,
	.toggle-btn {
		display: block;
	}
	.nav__menu-content {
		display: none;
	}
	.nav {
		position: relative;
	}
	.nav__menu-content-mobile {
		display: block;
		background-color: #fff;
		padding: 17px 30px;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		transform-origin: left;
		width: 90%;
		z-index: 9;
		transition: all 0.3s ease;
	}
	.nav__bar {
		width: 100%;
		flex-direction: column;
		align-items: flex-start;
		gap: 0;
	}
	.nav__item {
		padding: 15px 0;
		width: 100%;
	}
	.nav__item:not(:last-child) {
		border-bottom: 1px solid #d9d9d9;
	}

	.nav__link {
		display: block;
	}
	.nav__content-box {
		height: 70vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.log-out {
		width: 100%;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		text-transform: uppercase;
		color: #696969;
		padding-bottom: 12px;
		margin-bottom: 24px;
		border-bottom: 1px solid #d9d9d9;
	}
	.nav__icon {
		filter: opacity(0.5);
	}
	.nav__link--drop-down {
		position: relative;
	}
	.nav__link--drop-down::after {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		content: url(./images/down-arrow.svg);
		cursor: pointer;
		z-index: 9;
	}
	/* Menu bar end */

	/* Hero section start */
	.hero {
		background-color: transparent;
	}
	.hero__content {
		flex-direction: column;
	}
	.hero__img-box {
		display: none;
	}
	.hero__details {
		/* background-color: #000; */
		max-width: 100%;
		padding: 0;
	}
	.hero__mobile-img {
		display: block;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: brightness(0.5);
	}

	.hero__title-box {
		margin-top: 100px;
	}
	.hero__top-title {
		font-size: 85px;
		top: -50px;
	}
	.hero__title {
		font-size: 130px;
	}

	.hero__item-box {
		text-align: center;
		padding-left: 0;
	}
	.hero__btn {
		font-size: 24px;
		/* padding: 12px 21px; */
	}
	.hero__user {
		margin-bottom: 22px;
	}
	/* Hero section end */
	/* Featured section start */
	.featured-brand__content {
		flex-direction: column;
		gap: 0;
	}
	.featured-brand__logo-box {
		justify-content: center;
		gap: 5px;
		flex-wrap: wrap;
	}

	/* Featured section end */

	/* Collection section start */
	.collections {
		padding: 50px 0;
	}
	/* .collections__subtiitle {
		font-size: 14px;
		margin-bottom: 0;
	}
	.collections__heading {
		font-size: 24px;
		margin-bottom: 20px;
	} */
	.collections__regular-price,
	.collections__old-price {
		font-size: 18px;
	}
	.collections__btn {
		padding: 7px 18px;
		font-size: 16px;
	}
	.slick-slider {
		margin: 0 -15px;
		overflow-x: hidden;
	}
	/* .slick-slide {
		padding: 0 10px;
	} */

	/* Collection section end */
	/* Review section start */
	.review__content-box {
		flex-direction: column;
		gap: 30px;
	}
	.review__content {
		flex-direction: column;
		gap: 5px;
	}
	.review__status {
		font-size: 18px;
	}
	/* Review section end */
	/* All collection section start */
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.all-collections {
		padding: 40px 0;
	}
	.all-collections__heading {
		margin-bottom: 20px;
	}
	.all-collections__title {
		font-size: 16px;
	}

	.slick-track {
		margin-left: 40px;
	}
	/* All collection section end */
	/* Icon with text start */
	.icon-with-text {
		padding: 31px 0 21px;
		background-color: #f5f5f5;
	}

	.icon-with-text__title {
		font-size: 19px;
		line-height: 23px;
		margin-bottom: 10px;
	}
	.icon-with-text__content {
		flex-direction: column;
		gap: 13px;
	}
	/* Icon with text end */
	/* Image with text start */
	.image-with-text {
		padding: 20px 0;
	}
	.new-letter__img {
		display: none;
	}
	.image-with-text__content {
		gap: 30px;
		flex-direction: column-reverse;
	}
	.image-with-text__text {
		margin-bottom: 30px;
	}
	.image-with-text__subheading {
		font-size: 13px;
	}
	.image-with-text__btn {
		width: 100%;
		margin: auto;
	}

	/* Image with text end */
	/* News Letter section start */
	.news-letter {
		padding: 30px 0 36px;
	}
	.news-letter__title {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 20px;
	}
	.news-letter__form {
		flex-direction: column;
		gap: 20px;
	}
	.input {
		width: 100%;
		height: 60px;
	}
	.news-letter__form-btn {
		width: 100%;
		height: 60px;
		font-size: 24px;
	}
	/* News Letter section end */
	/* Instagram section start */
	.instagram {
		padding: 50px 0;
	}
	.instagram__title {
		margin-bottom: 24px;
		margin-bottom: 9px;
	}
	.instagram__content {
		margin-bottom: 17px;
	}
	.instagram__btn {
		padding: 15.5px 50px;
		width: 100%;
	}
	/* Instagram section end */
	/* Footer section start */
	.footer {
		background-color: #f5f5f5;
		padding: 30px 0;
	}
	.footer__content {
		grid-template-columns: 1fr;
	}

	.footer__item:nth-child(2) {
		justify-self: start;
	}

	.footer__atm-card {
		margin-bottom: 37px;
	}
	.footer__icon-box {
		gap: 22px;
	}
	.footer__icon {
		max-width: 27.55px;
		height: 27.55px;
		object-fit: contain;
		transition: all 0.3s ease;
	}

	.footer__bottom {
		margin-top: 35px;
	}
	.footer__bottom-text {
		font-size: 16px;
		line-height: 16px;
	}
	.footer__select {
		font-size: 16px;
	}
	/* Footer section end */
	/* Video section start */
	.video__content {
		display: none;
	}
	.video__content-mobile {
		display: block;
	}
	.video__title,
	.video__subheading {
		margin-bottom: 8px;
	}
	.video__box .slick-slide {
		margin-right: 0px;
	}
	/* Video section end */
}
