@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Inter:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	/* font-family: 'Carattere', cursive; */
	font-family: "Inter", sans-serif;
}

picture,
svg,
img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

ul li {
	list-style: none;
}
a {
	display: inline-block;
	text-decoration: none;
}

h2 {
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

h3 {
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

p {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.page-width {
	max-width: 1170px;
	margin: 0 auto;
}
.btn {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: #2abb83;
	border-radius: 10px;
	transition: all 0.3s ease;
}
.btn:hover {
	opacity: 0.8;
}

/* Hero section start */
.hero {
	background-color: #000;
}

.hero__content {
	display: flex;
}

.hero__img-box {
	flex: 1;
}
.hero__img {
	/* height: 100%; */
}
.hero__right {
	flex: 1;
}
.hero__details {
	padding-top: 201px;
	padding-bottom: 88px;
	max-width: 588px;
	text-align: center;
	position: relative;
	width: 100%;
}

.hero__mobile-img {
	display: none;
}

.hero__title-box {
	position: relative;
}

.hero__top-title {
	font-family: "Carattere";
	text-transform: capitalize;
	font-style: normal;
	font-weight: 400;
	font-size: 150px;
	line-height: 173px;
	text-align: center;
	color: #01fc9b;
	position: absolute;
	top: -111px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.hero__title {
	font-weight: 700;
	font-size: 175px;
	line-height: 148px;
	color: #fff;
}

.hero__text {
	margin-top: 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 15px;
}

.hero__item span {
	color: #2fe19c;
}
.hero__item {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
}
.hero__item-box {
	margin-bottom: 80px;
	text-align: left;
	padding-left: 38px;
}

.hero__btn {
	font-size: 24px;
	padding: 20px 60px;
}

.hero__user {
	display: flex;
	align-items: center;
	gap: 12px;
	justify-content: center;
	margin-top: 9px;
}
.hero__count {
	font-style: italic;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #fbda65;
}
/* Hero section end */
/* Featured brand start */
.featured-brand {
	background-color: #e4dfdc;
	padding: 33px 0;
}

.featured-brand__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.featured-brand__heading {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	flex-shrink: 0;
}

.featured-brand__logo-box {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 50px;
}

.featured-brand__review-logo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* Featured brand end */
/* Collection section start */
.collections {
	padding: 115px 0 60px;
}
.collections__content {
	max-width: 1170px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	gap: 45px;
}
.collections__heading {
	margin-bottom: 42px;
}
.collections__item {
	background-color: #fafafa;
}
.collections__img-box {
	position: relative;
}
.collections__img {
	width: 100%;
	transition: transform 0.3s ease;
}

.collections__img-box:hover img {
	transform: scale(1.1);
}

.collections__img-box::after {
	position: absolute;
	content: "on sale";
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #000000;
	padding: 5px 9px;
	background-color: rgba(255, 255, 255, 0.75);
	top: 13px;
	right: 9px;
}
.collections__details {
	padding: 15px 20px 20px 27px;
}
.collections__title {
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 8px;
}

.collections__review {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 27px;
}

.review-icon-box {
	display: flex;
	align-items: center;
	gap: 3px;
}

.collections__review-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.collections__price-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.collections__regular-price,
.collections__old-price {
	font-weight: 400;
	font-size: 24px;
	line-height: 20px;
	text-decoration-line: line-through;
	color: #b7b6b6;
}
.collections__regular-price {
	color: #2dc98c;
	margin-left: 20px;
}

.collections__btn {
	padding: 10px 28px;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	color: #151515;
	border: 1px solid #2dc98c;
}
.collection__btn-box {
	margin-top: 43px;
	text-align: center;
}
.collection__btn-all {
	font-weight: 500;
	font-size: 16px;
	padding: 15.5px 76px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Collection section end */
/* Review section start */
.review {
	padding: 25px 0;
	background-color: #f5f5f5;
}
.review__content-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.review__content {
	display: flex;
	align-items: center;
	gap: 20px;
}
.review__icon-img {
	width: 30px;
}
.review__status {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.review__icon-text {
	display: flex;
	align-items: end;
}

.review__text {
	font-size: 20px;
	font-weight: 600;
}
.review__btn {
	padding: 15px 32px;
	font-weight: 500;
	font-size: 16px;
}
/* Review section end */
