@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Inter:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	/* font-family: 'Carattere', cursive; */
	font-family: "Inter", sans-serif;
}

picture,
svg,
img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

ul li {
	list-style: none;
}
a {
	display: inline-block;
	text-decoration: none;
}

h2 {
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

h3 {
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

p {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #000000;
}

.page-width {
	max-width: 1170px;
	margin: 0 auto;
}
.btn {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: #2abb83;
	border-radius: 10px;
	transition: all 0.3s ease;
}
.btn:hover {
	opacity: 0.8;
}

/* Hero section start */
.hero {
	background-color: #000;
}

.hero__content {
	display: flex;
}

.hero__img-box {
	flex: 1;
}
.hero__img {
	/* height: 100%; */
}

.hero__details {
	flex: 1;
	padding-top: 201px;
	padding-bottom: 88px;
	max-width: 588px;
	text-align: center;
	position: relative;
	width: 100%;
}

.hero__mobile-img {
	display: none;
}

.hero__title-box {
	position: relative;
}

.hero__top-title {
	font-family: "Carattere";
	text-transform: capitalize;
	font-style: normal;
	font-weight: 400;
	font-size: 150px;
	line-height: 173px;
	text-align: center;
	color: #01fc9b;
	position: absolute;
	top: -111px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.hero__title {
	font-weight: 700;
	font-size: 175px;
	line-height: 148px;
	color: #fff;
}

.hero__text {
	margin-top: 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 15px;
}

.hero__item span {
	color: #2fe19c;
}
.hero__item {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
}
.hero__item-box {
	margin-bottom: 80px;
	text-align: left;
	padding-left: 38px;
}

.hero__btn {
	font-size: 24px;
	padding: 20px 60px;
}

.hero__user {
	display: flex;
	align-items: center;
	gap: 12px;
	justify-content: center;
	margin-top: 9px;
}
.hero__count {
	font-style: italic;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #fbda65;
}
/* Hero section end */
/* Featured brand start */
.featured-brand {
	background-color: #e4dfdc;
	padding: 33px 0;
}
/* Featured brand end */
