@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Inter:wght@400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	/* font-family: 'Carattere', cursive; */
	font-family: "Inter", sans-serif;
}

picture,
svg,
img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

ul li {
	list-style: none;
}
a {
	display: inline-block;
	text-decoration: none;
}

h2 {
	font-weight: 500;
	font-size: 36px;
	line-height: 44px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

h3 {
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	color: #000000;
}

p {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.page-width {
	max-width: 1170px;
	margin: 0 auto;
}
.btn {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	background-color: #2abb83;
	border-radius: 10px;
	transition: all 0.3s ease;
}
.btn:hover {
	opacity: 0.8;
}

/* Announcement Bar Start */
.announsment-bar {
	padding: 8px 0;
	background-color: #2fe19c;
	text-align: center;
}

.announsment-bar__content {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.announsment-bar__text {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #000000;
}
/* Announcement Bar end */

/* Menu bar start */
.nav {
	background-color: #fff;
	padding: 20px 0;
	position: relative;
	width: 100%;
	top: 0;
	z-index: 9;
	filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}
.nav__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__logo-box {
	display: flex;
	align-items: center;
	gap: 15px;
}
.close-btn,
.toggle-btn {
	cursor: pointer;
	display: none;
}
.nav__menu-content-mobile {
	display: none;
}
.logo {
	max-width: 152px;
	max-height: 20px;
}

.nav__bar {
	display: flex;
	align-items: center;
	gap: 30px;
}

.nav__link {
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	color: #262626;
	transition: all 0.3s ease;
}
.nav__link:hover {
	color: black;
	font-weight: 500;
}

.nav__icon-box {
	display: flex;
	align-items: center;
	gap: 20px;
}
.curency {
	background-color: transparent;
	border: 0;
	outline: 0;
	position: relative;
}

.curency::after {
	position: absolute;
	content: url("./images/flag-usa.svg");
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 22;
}

.cart-btn {
	position: relative;
}
.cart-count {
	position: absolute;
	top: -1px;
	left: 11px;
	padding: 2.33px 6px;
	border-radius: 50%;
	background-color: #01fc9b;
	font-weight: 300;
	font-size: 10px;
	text-transform: uppercase;
	color: #000000;
}

/* Menu bar end */

/* Hero section start */
.hero {
	background-color: #000;
}

.hero__content {
	display: flex;
}

.hero__img-box {
	flex: 1;
}

.hero__right {
	flex: 1;
}
.hero__details {
	padding-top: 201px;
	padding-bottom: 88px;
	max-width: 588px;
	text-align: center;
	position: relative;
	width: 100%;
}

.hero__mobile-img {
	display: none;
}

.hero__title-box {
	position: relative;
}

.hero__top-title {
	font-family: "Carattere";
	text-transform: capitalize;
	font-style: normal;
	font-weight: 400;
	font-size: 150px;
	line-height: 173px;
	text-align: center;
	color: #01fc9b;
	position: absolute;
	top: -111px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.hero__title {
	font-weight: 700;
	font-size: 175px;
	line-height: 148px;
	color: #fff;
}

.hero__text {
	margin-top: 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 15px;
}

.hero__item span {
	color: #2fe19c;
}
.hero__item {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ffffff;
}
.hero__item-box {
	margin-bottom: 80px;
	text-align: left;
	padding-left: 38px;
}

.hero__btn {
	font-size: 24px;
	padding: 20px 60px;
}

.hero__user {
	display: flex;
	align-items: center;
	gap: 12px;
	justify-content: center;
	margin-top: 9px;
}
.hero__count {
	font-style: italic;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	color: #fbda65;
}
/* Hero section end */
/* Featured brand start */
.featured-brand {
	background-color: #e4dfdc;
	padding: 33px 0;
}

.featured-brand__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 100px;
}

.featured-brand__heading {
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	flex-shrink: 0;
}

.featured-brand__logo-box {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 50px;
}

.featured-brand__review-logo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* Featured brand end */
/* Collection section start */
.collections {
	padding: 115px 0 60px;
}
.collections__content {
	max-width: 1170px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	gap: 45px;
}
.collections__heading {
	margin-bottom: 42px;
}
.collections__item {
	background-color: #fafafa;
}
.collections__img-box {
	position: relative;
}
.collections__img {
	width: 100%;
	transition: transform 0.3s ease;
}

.collections__img-box:hover img {
	transform: translateY(-5px);
}

.collections__img-box::after {
	position: absolute;
	content: "on sale";
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #000000;
	padding: 5px 9px;
	background-color: rgba(255, 255, 255, 0.75);
	top: 13px;
	right: 9px;
}
.collections__details {
	padding: 15px 20px 20px 27px;
}
.collections__title {
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	margin-bottom: 8px;
}

.collections__review {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 27px;
}

.review-icon-box {
	display: flex;
	align-items: center;
	gap: 3px;
}

.collections__review-text {
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.collections__price-button {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.collections__regular-price,
.collections__old-price {
	font-weight: 400;
	font-size: 24px;
	line-height: 20px;
	text-decoration-line: line-through;
	color: #b7b6b6;
}
.collections__regular-price {
	color: #2dc98c;
	margin-left: 20px;
}

.collections__btn {
	padding: 10px 28px;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	color: #151515;
	border: 1px solid #2dc98c;
}
.collection__btn-box {
	margin-top: 43px;
	text-align: center;
}
.collection__btn-all {
	font-weight: 500;
	font-size: 16px;
	padding: 15.5px 76px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* Collection section end */
/* Review section start */
.review {
	padding: 25px 0;
	background-color: #f5f5f5;
}
.review__content-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.review__content {
	display: flex;
	align-items: center;
	gap: 20px;
}
.review__icon-img {
	width: 30px;
}
.review__status {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.review__icon-text {
	display: flex;
	align-items: end;
}

.review__text {
	font-size: 20px;
	font-weight: 600;
}
.review__btn {
	padding: 15px 32px;
	font-weight: 500;
	font-size: 16px;
}
/* Review section end */
/* All collection section start */
.mobile {
	display: none;
}
.all-collections {
	padding: 55px 0 100px;
	background-color: #fff;
}
.all-collections__heading {
	margin-bottom: 65px;
}

.all-collections__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 45px;
	justify-content: space-between;
	align-items: center;
}

.all-collections__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.all-collections__title {
	margin: 20px 0;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	text-transform: uppercase;
	color: #141414;
}
/* All collection section end */
/* Icon with text start */
.icon-with-text {
	padding: 46px 0 76px;
	background-color: #f5f5f5;
}

.icon-with-text__title {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 50px;
}
.icon-with-text__title--capitalize {
	text-transform: capitalize;
	color: #151515;
}
.icon-with-text__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.icon-with-text__item {
	display: flex;
	align-items: center;
	gap: 13px;
}
.icon-with-text__item-text {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.icon-with-text__heading {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-bottom: 7px;
}
.icon-with-text__subheading {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
/* Icon with text end */
/* Image with text start */
.image-with-text {
	padding: 71px 0;
}
.image-with-text__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 58px;
}
.image-with-text__details {
	flex: 1;
}
.image-with-text__img-box {
	flex: 1;
}
.image-with-text__subheading {
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}

.image-with-text__heading {
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	text-align: left;
	margin-bottom: 20px;
}
.image-with-text__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 42px;
}
.image-with-text__btn {
	padding: 15.5px 54.5px;
	font-weight: 600;
	font-size: 16px;
}

/* Image with text end */
/* News Letter section start */
.news-letter {
	padding: 64px 0 83px;
	background-color: #f5f5f5;
	opacity: 0.85;
	position: relative;
}
.new-letter__img {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: -webkit-fill-available;
	/* width: 355.28px; */
}

.news-letter__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;
	color: #262626;
	margin-bottom: 72px;
}
.news-letter__title span {
	font-weight: 300;
}
.news-letter__form {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 27px;
}

.input {
	all: unset;
	width: 640px;
	height: 100px;
	padding-left: 22px;
	background: rgba(255, 255, 255, 0.65);
	border: 1px solid #d9d9d9;
	box-sizing: border-box;
}
::placeholder {
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
	color: #141414;
}
.news-letter__form-btn {
	all: unset;
	width: 350px;
	height: 100px;
	color: #fff;
	font-size: 36px;
	background: #2abb83;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
	text-align: center;
}
.news-letter__form-btn:hover {
	opacity: 0.8;
}
/* News Letter section end */
/* Instagram section start */
.instagram {
	padding: 80px 0;
}
.instagram__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 50px;
}
.instagram__item {
	flex: 1;
}
.instagram__item a {
	display: block;
}
.instagram__item a img {
	width: 100%;
	transition: all 0.3s ease;
}
.instagram__item a:hover img {
	transform: translateY(-10px);
}
.instagram__title {
	margin-bottom: 27px;
}
.btn-box {
	text-align: center;
}
.instagram__btn {
	padding: 15.5px 50px;
}
/* Instagram section end */
/* Footer section start */
.footer {
	background-color: #f5f5f5;
	padding: 70px 0 60px;
}
.footer__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.footer__item-heading {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	margin-bottom: 20px;
}
.footer__link {
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}

.footer__atm-card {
	display: flex;
	align-items: center;
	margin-bottom: 70px;
}
.footer__item:nth-child(2) {
	justify-self: center;
}
.footer__item-details {
	text-align: left;
}
.footer__item-heading--middle {
	margin-top: 30px;
}
.footer__item-heading--last {
	margin-top: 30px;
	margin-bottom: 15px;
}
.footer__social-title {
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight: 500;
	font-size: 18px;
}
.footer__icon-box {
	display: flex;
	align-items: center;
	gap: 33px;
}
.footer__bottom {
	margin-top: 70px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.footer__item:nth-child(2) {
	justify-self: center;
}
.footer__bottom-text {
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.32em;
	color: #000000;
}
.footer__icon {
	max-width: 40px;
	height: 40px;
	object-fit: contain;
}

.footer__icon-box a:hover .footer__icon {
	filter: opacity(0.5);
}
.footer__select:focus {
	outline: 0;
}
.footer__select {
	border: 0;
	background-color: transparent;
	font-size: 18px;
	text-transform: uppercase;
}
/* Footer section end */
/* Video section start */
.video {
	padding: 38px 0;
}

.video__title {
	margin-bottom: 20px;
}
.video__content-mobile {
	display: none;
}
.video__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}
.video__box {
	position: relative;
	flex: 1;
	border-radius: 8px;
	overflow: hidden;
}
.video__box > img {
	width: 100%;
}
.video__icon-box {
	position: absolute;
	bottom: 0;
	left: 0;
	/* height: 70px; */
	width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.104), rgba(0, 0, 0, 0.349));
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.video__icon-box > a {
	width: 50px;
	height: 50px;
}
.video__name {
	color: #fff;
	font-size: 12px;
	padding: 10px;
}
.slick-slide {
	margin: 0 10px;
}
/* Video section end */
/* Main product section start */
.main-product {
	padding: 42px 0;
}
.main-product__content {
	display: flex;
	gap: 76px;
}
.main-product__left {
	flex: 1;
}
.main-product__right {
	flex: 1;
}
.main-product__main-img-box {
	margin-bottom: 15px;
}
.main-product__img {
	width: 100%;
	object-fit: cover;
}
.main-product__title {
	text-align: left;
	font-weight: 400;
	font-size: 30px;
	line-height: 40px;
	color: #2f2828;
}
.main-product__star-review {
	display: flex;
	align-items: center;
	gap: 7px;
	margin-bottom: 13px;
}
.main-product__star {
	display: flex;
	align-items: center;
	gap: 2.5px;
}

.main-product__review-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #696969;
}
.product-details {
	margin-bottom: 15px;
}
.product-details-text span {
	color: #2dc98c;
	font-size: 16px;
	margin-right: 5px;
}
.product-details-text {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #2f2828;
}
.main-product__read-more {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	text-decoration-line: underline;
	color: #2dc98c;
	margin-bottom: 17px;
}

.main-product__price-box {
	display: flex;
	align-items: center;
	gap: 15px;
}
.main-product__text {
	font-weight: 500;
	font-size: 18px;
	line-height: 40px;
	color: #2f2828;
}
.main-product__current-price {
	font-weight: 600;
	font-size: 18px;
	line-height: 40px;
	color: #2dc98c;
}
.main-product__old-price {
	font-weight: 400;
	font-size: 18px;
	line-height: 40px;
	color: #696969;
}

.main-product__save-price {
	padding: 6.5px 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	text-transform: uppercase;
	background-color: #fbda65;
	color: #262626;
}

.main-product__size-box {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 7px;
}
.main-product__size-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}
.main-product__size {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #696969;
}

.main-product__size-content {
	display: flex;
	align-items: center;
	gap: 14px;
	margin-bottom: 18px;
}
.main-product__size-item {
	padding: 5px 13px;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	color: #aaa9a9;
	border: 1px solid #aaa9a9;
	cursor: pointer;
	transition: all 0.3s ease;
}
.main-product__size-item:hover,
.active {
	color: #141414;
	border: 1px solid #141414;
}

.varient-quantity-box {
	display: flex;
	align-items: center;
	gap: 41px;
	margin-bottom: 34px;
}
.varient-quantity-box__color-box {
	/* flex: 1; */
	max-width: 252px;
	width: 100%;
}
.varient-quantity-box__quentity-box {
	flex: 1;
}
.varient-quantity-box__quentity-title,
.varient-quantity-box__color-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}
.varient-quantity-box__color-name {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	color: #696969;
}
.varient-quantity-box__select {
	width: 100%;
	max-height: 40px;
	padding: 10px;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	text-transform: capitalize;
	color: #696969;
	border: 1px solid #d9d9d9;
	outline: 0;
}
.varient-quantity-box__quentity-item-box {
	max-width: 198px;
	width: 100%;
	display: flex;
	align-items: center;
	border: 1px solid #d9d9d9;
}
.varient-quantity-box__item {
	height: 40px;
	flex-basis: 30%;
	/* padding: 12px 19px; */
	display: grid;
	place-items: center;
	cursor: pointer;
}
.varient-quantity-box__item:nth-child(2) {
	flex-basis: 40%;
	border-right: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	text-align: center;
}
.add-to-cart-btn {
	max-width: 498px;
	width: 100%;
	padding: 15.5px;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #2abb83;
	text-align: center;
	margin-bottom: 18px;
	transition: all 0.3s ease;
}

.add-to-cart-btn:hover {
	opacity: 0.7;
}

.info {
	margin-bottom: 22px;
}
.info__item {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 8px;
}
.info__item-img {
	flex-basis: 30px;
}
.info-circle {
	margin-left: -10px;
}
.offer-box {
	display: flex;
	align-items: center;
	margin-bottom: 35px;
	padding: 13px 0;
	max-width: 491px;
	background: #f3f0f0;
	border: 1px solid #2dc98c;
}
.offer-box__left {
	flex: 1;
	padding-left: 40px;
}
.offer-box__right {
	flex: 1;
	padding-left: 35px;
}
.offer-box__option {
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	text-transform: capitalize;
	color: #2dc98c;
}
.offer-box__label {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	text-transform: capitalize;
	color: #141414;
}
.offer-box__label span {
	font-weight: 700;
	color: #2dc98c;
}

.payment-box {
	display: flex;
	align-items: center;
	gap: 16px;
}
.payment-box__img-box {
	max-width: 68.4px;
	max-height: 46.08px;
}
/* Main product section end */
/* Works section start */
.works {
	padding: 57px 0;
	background-color: #fafafa;
}
.works__title {
	font-weight: 500;
	font-size: 36px;
	line-height: 24px;
	color: #4f4f4f;
	margin-bottom: 12px;
}
.works__subtilte {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #2f2828;
}

.works__content {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	gap: 170px;
}

.works__item {
	flex: 1;
}
.works__item-details {
	display: grid;
	justify-items: center;
	gap: 30px;
}
.works__heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 24px;
	text-transform: uppercase;
	color: #2dc98c;
}
.works__subheading {
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	color: #4f4f4f;
}
.works__text {
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #2f2828;
	text-align: center;
}
/* Works section end */
